.table-line-header
  width 200 * 4px
  cursor pointer
  background white
  color : rgba(0, 0, 0, 0.87);
  padding 6 0 6 0
  margin-left 20
  //border dotted
  //border-color: rgba(255, 0, 0, 0.12);
.table-line
  width 200 * 4
  cursor pointer
  background white
  color: rgba(0, 0, 0, 0.87);
  padding 6 0 6 0
  margin-left 20
  //border solid
  //border-width 0.5px 0px 0.5px 0px
  //border-color: rgba(0, 0, 0, 0.12);
.table-line-small
  width 215 * 2px
.table-line-padding
  margin-left 50px
.table-line:hover
  background rgba(0, 0, 0, 0.06);
.table-line. selected
  justify-content flex-start
  background : #40b883
  color : white
.flex-container
  display flex
  justify-content flex-start
  //justify-content center
 .cell
  width 200px
  margin 0px
  padding 2px
  font-weight: 400;
  font-size: 13px;
  //border solid
  //border-color: rgba(0, 0, 0, 0.12);
.cell1
  display flex
  justify-content center
// text-align center
// border solid
.cell2
  justify-content flex-start
.cell3
  justify-content flex-start
  padding-left 20px
.cell-long
  justify-content flex-start
  width 600px
.title
  margin 20px
//.mybtn
//  width 40
//  background-color yellow






