.table-line-header
  width 400 * 4px
  cursor pointer
  background white
  color : rgba(0, 0, 0, 0.87);
  padding 6px 0px 6px 0px
  margin-left 20px
  border solid
  border-color: rgba(255, 0, 0, 0.12);
.table-line
  width 200 * 4px
  cursor pointer
  background white
  color: rgba(0, 0, 0, 0.87);
  padding 3px 0px 3px 0px
  margin-left 20px
  border solid
  border-width 0.5px 0px 0.5px 0px
  border-color: rgba(0, 0, 0, 0.12);

.table-line-small
  width 215 * 2px

.table-line-padding
  margin-left 50px
  background : #40b883
  color : white

.flex-container
  display flex
  width 200px
  margin 0px
  padding 2px
  font-weight: 400;
  font-size: 13px;

cell1
  display flex
  width 200px

title
  margin 20px

.table-line:hover
  background rgba(0, 0, 0, 0.06);
.table-line. selected
  justify-content flex-start
cell
  justify-content center
// text-align center
// border solid
cell2
  justify-content flex-start
cell3
  justify-content flex-start
  padding-left 20px
cell-long
  justify-content flex-start
